body {
    font-family: Prompt;
}

.aligner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 5px;
}

.card-content {
    background-color: #f6f6f6;
}

.bt-detail i {
    font-size: 2.8em;
    transition: 0.3s;
}

.bt-detail:hover i {
    font-size: 4em;
    transition: 0.3s;
}

.videoFrame {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

.videoFrame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item-pro {
    transform: scale(1, 1);
    transition: 1s;
}

.item-pro:hover {
    transform: scale(1.2, 1.2);
    transition: 1s;
}

@media only screen and (max-width: 767px) {
    #menu-item {
        z-index: 1000;
        position: fixed;
        bottom: 5px;
        max-width: 50%;
        display: none;
    }
    #menu-item i {
        font-size: 19px;
        padding: 0px;
        margin: 0px;
    }
    .hcir2 {
        border-radius: 100%;
        padding: 5px 0 0 0 !important;
        margin: 0px 0px !important;
        width: 2.6em;
        height: 2.6em;
        box-shadow: 0px 3px 0px #444;
    }
    label {
        width: 100% !important;
        text-align: center;
        background: #ffffff;
        color: #222222;
        cursor: pointer;
        display: block;
        margin: 5px 0.1% 0px 0px!important;
    }
}

@media only screen and (min-width: 768px) {
    #menu-item {
        z-index: 1000;
        position: fixed;
        right: 20px;
        top: 20px;
        display: block;
        display: none;
    }
    #menu-item i {
        font-size: 1.65em;
    }
    .hcir2 {
        border-radius: 100%;
        padding: 2px 0 0 0 !important;
        margin: 0 !important;
        width: 3.1em;
        height: 3.1em;
        box-shadow: 0px 3px 0px #444;
    }
}

@media only screen and (max-width: 1225px) {
    label {
        width: 100% !important;
        text-align: center;
        background: #ffffff;
        color: #222222;
        cursor: pointer;
        margin: 5px 0.1% 0px 0px!important;
    }
}


/*return-to-top*/

#return-to-top {
    z-index: 1000;
    position: fixed;
    bottom: 15px;
    right: 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #555;
    margin: 0;
    position: relative;
    left: 10px;
    top: 0px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(255, 255, 255, 0.8);
}

#return-to-top:hover i {
    top: -5px;
}


/*end-returntotop*/


/*index*/

#section-two {
    background-color: #22AAA1;
}

#section-three {
    background-color: #F25757;
}

#section-four {
    background-color: #FFCA3A;
}

.main-title .title {
    font-size: 15vmin;
}

.main-title .subtitle {
    font-size: 5vmin;
}

.hcir {
    /*    border-radius: 100%;*/
    width: 4.3em;
    height: 4.3em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.circle i {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
}


/*end-index*/


/*project*/

#section-projectlist {
    min-height: 75vh;
    background-color: #f6f6f6;
}

.footer-project {
    background-color: #22aaa1;
    height: 50px;
    bottom: 0;
    left: 0;
}

#section-image-project {
    background-color: rgba(255, 255, 255, 1);
}

#section-image-project img {
    max-height: 30em;
}

#menu-item-project {
    z-index: 1000;
    position: fixed;
    left: 20px;
    top: 20px;
    display: block;
    display: none;
}

#menu-item-project i {
    font-size: 1.65em;
}

#text-head {
    display: block;
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
}


/*end-project*/


/*Activity*/

#image-cover {
    min-height: 200px;
}


/*end-Activity*/


/*me*/

.head-me {
    padding-top: 2em;
}

.parallax-cover {
    /* The image used */
    /* Set a specific height */
    min-height: 550px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.connect span {
    color: #555;
}

.connect span:hover {
    color: #000;
}

.connect-border {
    border: 2px solid #888;
    padding: 10px 20px !important;
    margin: 10px;
}

.connect-border:hover {
    border: 2px solid #Fff;
    background-color: #FFCA3A;
    transition: all 0.10s ease;
}

.project-bt {
    border: 2px solid #888;
    padding: 5px 20px !important;
    margin: 10px;
    max-height: 40px;
}

.project-bt:hover {
    color: #fff;
    background-color: #F25757;
    transition: all 0.10s ease;
}


/*end-mehead*/

.fix-top {
    position: fixed;
    z-index: 1000;
}

.pb-1 {
    padding-bottom: 0.5em;
}

.pb-2 {
    padding-bottom: 0.75em;
}

.pb-3 {
    padding-bottom: 1em;
}

.pt-3 {
    padding-top: 1em;
}

.pl-1 {
    padding-left: 0.5em;
}

.pl-2 {
    padding-left: 0.75em;
}

.pl-3 {
    padding-left: 1em;
}


/*//Filter Menu*/

input[type="radio"] {
    display: none;
}

label {
    width: 18%;
    text-align: center;
    background: #ffffff;
    color: #222222;
    cursor: pointer;
}

input[type="radio"][id="reset"]:checked+label {
    border: 2px solid #fff;
    color: #fff;
    background: #F25757;
    transition: all 1s;
}

input[type="radio"][id="program"]:checked+label {
    border: 2px solid #fff;
    color: #fff;
    background: #F25757;
    transition: all 1s;
}

input[type="radio"][id="program"]:checked~.design,
input[type="radio"][id="program"]:checked~.video,
input[type="radio"][id="program"]:checked~.other {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

input[type="radio"][id="design"]:checked+label {
    border: 2px solid #fff;
    color: #fff;
    background: #F25757;
}

input[type="radio"][id="design"]:checked~.program,
input[type="radio"][id="design"]:checked~.video,
input[type="radio"][id="design"]:checked~.other {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

input[type="radio"][id="video"]:checked+label {
    border: 2px solid #fff;
    color: #fff;
    background: #F25757;
}

input[type="radio"][id="video"]:checked~.program,
input[type="radio"][id="video"]:checked~.design,
input[type="radio"][id="video"]:checked~.other {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

input[type="radio"][id="other"]:checked+label {
    border: 2px solid #fff;
    color: #fff;
    background: #F25757;
}

input[type="radio"][id="other"]:checked~.program,
input[type="radio"][id="other"]:checked~.design,
input[type="radio"][id="other"]:checked~.video {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.tileAmimate {
    float: center;
    transition: all 1s ease-in-out;
}


/***end-FilterMenu*/


/*Modal image*/

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/**Modal Content (image) */


/* padding-bottom and top for image */

.mfp-no-margins img.mfp-img {
    padding: 0;
}


/* position of shadow behind the image */

.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}


/* padding for main container */

.mfp-no-margins .mfp-container {
    padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.image-popup-no-margins:hover {
    opacity: 0.7;
    transition: 0.5s;
}


/**end-modal image*/
